html,
body {
  width: 100%;
  height: 100%;
}
#filler {
  width: 200%;
  height: 200%;
  position: relative;
  background: none;
}
#c {
  position: absolute;
  top: 100px;
  left: 100px;
}
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  display: block;
}
html,
body,
.container {
  scrollbar-face-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.container::-webkit-scrollbar {
  width: 0px;
}
